@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Dynamic Content Area -->
            <div id="adminContent">
                <h1>مرحباً بك في لوحة التحكم</h1>
                <!-- محتوى الصفحة الافتراضي -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#halqaSettingsLink').on('click', function(e) {
            e.preventDefault();
            $('#adminContent').load('/HalqaSettings/Index');
        });
    });
</script>